<h1>Questions</h1>
<div class="form-container">
    <div class="form-group">
        <label for="questions" >Pergunta 1</label>
        <input type="text" id="questions" class="form-control" ng-model="vm.questions" required />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.saveQuestions()">Save</button>
    </div>
    <div ng-repeat = "Pergunta in vm.listquestions">
        {{Pergunta.question }}
         <button class="btn btn-primary" ng-click="vm.deleteQuestions(Pergunta)">Delete</button>
    </div>
</div>
